body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root{
	margin: 0;
  padding: 0;
	height: 100vh;
}

code, pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root{
	position: relative;
}

#loginOverlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #D0D0D0A0;
}

#firebaseui_container{
  background-color: lightgray;
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
}

#header{
	position: relative;
	width: 100%;
	height: 95px;
}

#logo{
	display: inline-block;
	padding-left: 10px;
}

#title{
	display: inline-block;
	padding-left: 10px;
}

#auth{
	position: absolute;
	top: 10px;
	right: 10px;
}

#avatar{
	dispaly: inline-block;
	width: 75px;
	height: 75px;
	border-radius: 10px;
}

#userInfo{
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
	padding-left: 10px;
}

#navBar{
	display: none;
}

.snippetListItem{
	cursor: pointer;
}

.snippetListItem:hover,
.snippetListItem:active{
	background-color: lightgrey;
}

.snippetListItem *{
	pointer-events: none;
}

#fileList{
	float: left;
}

#fileView{
	float: left;
}

#description{
	clear: left;
}
